<div class="mood-form-activity">
  <%= render 'shared/mood_render', average: params[:rating] %>
</div>
<div class="form-container">
  <div class="form-text-activity">
    <h2>
      What have you been up to?
    </h2>
  </div>
  <%= simple_form_for(@mood) do |f| %>
    <%= f.input :rating, as: :hidden, collection: Mood.ratings.keys %>
    <div class="activity-list">
      <div class="activity-pill">
        <%= f.input :activity_list,
                as: :check_boxes,
                collection: ActsAsTaggableOn::Tag.most_used(17).sort_by(&:name),
                value_method: :name,
                wrapper: :vertical_collection_inline,
                label: "",
                class: "activity-btn"
                %>
      </div>
      <%= select_tag "mood[custom_activities][]", options_from_collection_for_select(
      ActsAsTaggableOn::Tag.all.order("LOWER(name) ASC"),
        # map { |tz| tz.tzinfo }.
        # sort_by { |tzinfo| tzinfo.name },
      :name, :name),
      class: 'select2', multiple: 'multiple' %>
      <%= f.input :note, as: :text, placeholder: 'Add Note...', label: false %>
      <div class="form-btn-container">
        <%= button_tag :submit, class: 'form-btn' do %>
          <i class="fas fa-check"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<script>
  // function classToggle() {
  // console.log('Working')
  // console.log(this)
  // this.classList.toggle('active')
  //     }
  
  // document.querySelector('.awful-3d').addEventListener('change', classToggle);
  // document.querySelector('.meh-3d').addEventListener('change', classToggle);
  // document.querySelector('.neutral-3d').addEventListener('change', classToggle);
  // document.querySelector('.happy-3d').addEventListener('change', classToggle);
  // document.querySelector('.fab-3d').addEventListener('change', classToggle);
</script>
<%# end %>