<div class="community-container">
  <div class="community-title">
    <h4>Friends (<%= @friends.count %>)</h4>
  </div>
  <div class="scrolling-wrapper">
    <% @friends.each do |friend| %>
      <div class="card-friend">
        <%= image_tag friend.image_url, class: "avatar-friend", alt: "avatar-large" %>
        <p><%= friend.name %></p>
      </div>
    <% end %>
  </div>
  <hr>
  <!-- <div class="friend-container">
    <%# @friends.each do |friend| %>
      <div class="friend-list">
        <%#= image_tag friend.image_url, class: "square-avatar", alt: "avatar-large" %>
        <%#= friend.name %>
      </div>
    <%# end %>
  </div> -->
  <div class="community-title">
    <h4>Daily Mood</h4>
    <p class="time-mood"><%#= Date.today.strftime("%B %e") %>Today ▾</p>
  </div>
  <div class="card-happenings">
    <% @friends.each do |friend| %>
      <% if friend.average_mood_for(Date.today) %>
        <div class="card-list-mood">
          <div class="status-friend">
            <%= image_tag friend.image_url, class: "avatar-friend", alt: "avatar-large" %>
            <div class="display-mood-emoji">
              <%= render 'shared/community_emoji', mood: friend.average_mood_for(Date.today) %>
            </div>
          </div>
          <div class="mood-info">
            <div class="name-friend">
              <h4><%= friend.name %></h4>
            </div>
            <div class="tags-community">
              <p>is feeling <%= friend.average_mood_for(Date.today) %></p>
            </div>
          </div>
          <div class="timeline-line-heart">
            <%= link_to "https://line.me/ti/p/sI7Gtrb_Qv" do %>
              <%#= link_to "https://line.me/R/nv/#{friend.line_id}" do %>
                <%#= image_tag("line-icon.png", alt: "alttext", class: "line-icon") %>
                <i class="fab fa-line community"></i>
                <!-- <i class="fab fa-line community"></i> -->
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>