<div class="community-container">
  <div class="community-title">
    <h4>Friends (<%= @friends.count %>)</h4>
  </div>
  <div class="friend-container">
    <% @friends.each do |friend| %>
      <div class="friend-list">
        <%= image_tag friend.image_url, class: "square-avatar", alt: "avatar-large" %>
        <%= friend.name %>
      </div>
    <% end %>
  </div>
  <div class="community-title">
    <h4>Timeline</h4>
  </div>
  <div class="card-happenings">
    <% @friends.each do |friend| %>
    <% if friend.average_mood_for(Date.today) %>
      <div class="card-list-mood">
        <%= image_tag friend.image_url, class: "square-avatar", alt: "avatar-large" %>
        <div class="mood-info">
          <p class="time-mood"><%= Date.today.strftime("%B %e") %></p>
          <i class="<%= mood_fontawesome(friend.average_mood_for(Date.today)) %> mt-2"></i>
          <div class="tags-community">
            <p><%= friend.average_mood_for(Date.today) %></p>
          </div>
        </div>
        <div class="timeline-line-heart">
          <%= link_to "http://line.me/ti/p/~ishida_yu27" do %>
            <i class="fab fa-line community"></i>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
    <% end %>
  </div>
</div>
